<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        ul
            li 
                a(href="/p1") PAGE1
            li
                a(href="/p2") PAGE1
            li
                a(href="/p3") PAGE1
            li
                a(href="/p4") PAGE1
            li
                a(href="/p5") PAGE1
        h1 PAGE5